/*@font-family: 'Pacifico', cursive;*/
/*html {
	font-family: "Lobster Regular", Helvetica, Arial, sans-serif;
}

html {
	font-family: 20851, Helvetica, Arial, sans-serif;
}*/
body{
font-family: 'Rubik 80s Fade', cursive;}

p {font-family: 'Bad Script', cursive;
}
ul {
	font-family: 'Bad Script', cursive;
}
/*body {
	@font-family: 'Pacifico', cursive;}

.about-text {
    font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
}*/

.A {
	color: red;
	padding: 60px 60px 0 0;
	}

.G {
	margin: 25px auto 25px 45vw;
}


.I {
	margin: 0 -8px 0 -100px;
	border-bottom: 1px solid black;
}



.K {
/*display: flex;*/
/*justify-content: center;*/
}

	.k1 {

		/*display: inline-block;
  		width: 100px;
  		height: 100px;
  		justify-content: flex-end;*/


		/*display: flex;
		display: block;
		flex-basis: 200px;
		flex-grow: 2;
		flex-shrink: 2;
		flex-direction:column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: auto;
		height: 25%;*/
		/*margin: 0 0 0 0;*/
		}

	.K2 {
		/*margin: 0 50px 0 50px;
		padding: 0 50px 0 50px;*/
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
		

		margin-right: 5%;
		margin-top: 20%;
		margin-left: -2.8%;
		
		border-width: thin;
  		border-style: solid;
  		border-color: black;
		}



.J {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 150px;
	height: auto;
}

.M {
	padding: 0 0 0 12vw;
}

h2 {
	border-left: 5px solid #ad8207;
	padding: 0 0 0 15px;
}

.N {
	color: #ad8207;
}

.O {
	border-top: 1px solid black;
	padding: 0 45vw 0 47.5vw;
	margin: 0 0 0 -10px;
}

/*.P {
	margin: 0 0 50px 0;
	padding:0 0 50px 0;*/
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.B1 {
	/*flex-basis: 0;*/
	margin-left: 2.5%;
	margin-top: 5%;
}

.Cq1 {
	display: flex;
	margin-left: 15%;
}

.p1 {
	display: flex;
}

.p12 {
margin-right: 20px;
}

.p2 {
	display: flex;
}

.p22 {
margin-right: 20px;
}